p {
    font-family: Lato;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    align-items: center;
  }
  table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}
  