
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="sw-sidenav">
    <mat-list>
      <mat-list-item [routerLink]="['/login']" (click)="logout()"> Logout</mat-list-item>
      <mat-list-item [routerLink]="['/admin/dashboard']"> Dashboard</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-toolbar color="primary" #toolbar>
    <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
      <mat-icon>menu</mat-icon>
    </button>
   <app-header></app-header>
  </mat-toolbar>
  <div class="content" #main>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
    
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> <span class="label-case">Actions</span> </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-form-field appearance="fill" class="no-line">
            <mat-label>Action</mat-label>
            <mat-select>
               <mat-option (click)="addEmployees()" >Add</mat-option>
               <mat-option (click)="editEmployees(element)" >Edit</mat-option>
               <mat-option (click)="deleteEmployees(element)">Delete</mat-option>
    
            </mat-select>
          </mat-form-field>
          </td>
        </ng-container>
    
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-footer></app-footer>
</mat-sidenav-container>
  



